{% extends 'schools/base.html' %}

{% block body %}
	{% load staticfiles%}
	<section>
		<div class="row">
			<div class="banner inner-page">
				<img src="{% static 'schoolList/images/inner-page-banner.jpg'%}" />
					<div class="caption">
				<h2><span class="sub-title">education</span> is not preparation for life<br> <span>education</span>is life itself.</h2>
					<cite>John Dewey</cite>
					 
			</div>			
			</div>			
		</div>		
	</section>
	<section>
	<div class="about-body">
		<div class="container">
			<div class="row">
				<div class="about">
					<h3>about us</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				</div>
			</div>
		</div>
	</div>
	</section>
{% endblock %}
	